<% if @todo.errors.any? %>

    <h4>The following error(s) prevented this todo from saving</h4>
    <ul>
        <% @todo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>