<h3 align="center">Showing a Todo</h3>

<div class="card">
	<div class="card-content">
<p>
Name: <%= @todo.name %>
</p>
<p>
Description: <%= @todo.description %>
</p>

</div>
</div>

<a href="<%= edit_todo_path %>" class="btn waves-effect waves-light red" name="action">Edit Todo</a>
<a href="<%= todos_path %>" class="btn waves-effect waves-light red" name="action">Go To Listing</a>




